 <!DOCTYPE html> 
 <html> 
 <head> 
 <meta charset="utf8"> 
 <title>Insert title here</title> 
 </head> 
 <body> 
 
 
 <h1> 
 {{#game.didPlayerWin}} 
 You WON the hand, keep playing! 
 {{/game.didPlayerWin}} 
 
 
 {{#game.isPush}} 
 A TIE?! who wants that? Bet Again! 
 {{/game.isPush}} 

 {{#game.didDealerWin}} 
 You lost the hand, but you can bet again! 
 {{/game.didDealerWin}} 
 </h1> 
 <h2>Dealer Hand</h2> 
 {{#game.dealer.hand.cards}} 
 	<div>{{ rank }} of {{ suit }}</div> 
 {{/game.dealer.hand.cards}} 
 <br> 
 Dealer Score = {{game.dealer.hand.total}} 
 
 <h2>Player Hand</h2> 
 
 
 {{#game.player.hand.cards}} 
 	<div>{{ rank }} of {{ suit }}</div> 
 {{/game.player.hand.cards}} 
 You Score = {{game.player.hand.total}} 
 
 
 <br> 
 
  <form method="post" action="/reBet"> 
 	<input autofocus type="number" name="bet" required placeholder="$5 minimum" required> 
 	<button>Place bet</button> 
 
 
 </form> 
 
 
 <br> 
 Value of Chips ${{game.chips.money}} 
 <br> 
 
 
<!--  {{#game.deck.deck}}  -->
<!--  	{{rank}} of {{suit}}  -->
<!--  {{/game.deck.deck}}  -->
 
  </body> 
 </html> 
